body{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(25, 185, 57);
}
nav ul li:nth-child(4){
    color: white;
}
ul{
    list-style: none;
}
nav{
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul{
    display: flex;
}

nav li{
    margin-right: 25px;
}

nav .fa-brands{
    font-size: 40px;
}

nav div .logo{
    font-size: 30px;
    font-weight: bold;
}

nav div a:hover{
    color: white;
}
/* ================================================== */
.main{
    height: 529px;
    background-color: rgb(255, 210, 210);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

.main a .googlestore{
    width: 25px;
} 

.main p{
    margin: 0;
}

.main .one{
    margin-top: 50px;
    font-weight: bold;
    font-size: 60px;
}

.main .two{
    font-weight:540;
    font-size: 25px;
}

.main .store{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .store .android{
    width: 145px;
}


.main .main-bottom{
    font-size: small;
}

.main .main-bottom a{
    text-decoration: underline;
    color: black;
}

/* ================================================================ */
footer{
    background-color: black;
    height: 371px;
    padding: 80px 77.5px;
}

.footer-top-menu{
    display: flex;
    box-sizing: border-box;
}
.footer{
    display: flex;
    justify-content: space-around;
}

.footer-top-menu li{
    margin-bottom: 30px;
    color: gray;
}
.a, .b, .c{
    font-size: 14px;
}
.footer-top-menu ul{
    margin: 0 20px 0 0;

}

.footer-top-menu .logo{
    font-size: 30px;
    font-weight: bold;
}
.footer-top-menu .logo:hover{
    color: white;
}
.sns button{
    width: 55px;
    height: 55px;
    background-color: rgb(45, 46, 48);
    font-size: 25px;
    border-radius: 50%;
}

.kor{
    color: white;
    display: flex;
    justify-content: end;
    font-size: small;
    margin-top: 100px;
    flex-direction: column;
    align-items: flex-end;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: small;

}
.footer-bottom p{
    color: white;
    margin: 0;
}
.footer-bottom ul{
    display: flex;
    padding: 0;
}

.footer-bottom li{
    margin-right: 15px;
}

.footer-bottom-menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.footer-bottom-menu a,
.footer-bottom-menu p{
    color: gray;
}