body{
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(251,251,251);
}

p{
    color: rgb(255, 255, 255);
}

li{
    list-style: none;
}
.navbar{
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.navbar2{
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 27px;
    font-weight: bold;
}

.fa-brands{
    font-size: 40px;
}

.member,
.menu{
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.member li,
.menu li{
    margin: 0 16px;
}

.navbar2 a:hover{
    color: rgb(11, 161, 80);
}

.member a{
    color: rgb(168, 165, 159);
}

.member{
    padding: 0;
}

/* ------------------------main부분------------------------ */

.main{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    text-align: center;
    height: 529px;
    background-color: rgb(255, 205, 210);

}

.main p{
    margin: 0;
    color: black;
}

.main a{
    color: black;
    text-decoration:underline;
}

.sentence-one{
    padding-top: 15px;
    font-size: 58px;
    font-weight: bold;
}

.sentence-two{
    font-size: 23px;
    font-weight:540;
}

.store button{
    background-color: black;
    border-radius: 7px;
    width: 140px;
    height: 100%; 
    border: none;
}
.store a{
    color: rgb(251,251,251);
    text-decoration: none;
}

.sentence-three{
    font-size: 12px;
}

.googlestore{
    width: 30px;
}

/* -----------------footer부분------------------------- */
footer{
    height: 532px;
    background-color: black;
}
.bottom-menu{
    display: flex;
    padding: 80px 0;
    justify-content: center;
}

.category{
    font-size: small;
    font-weight: bold;
    color: gray;
}
.sns{
    background-color: rgb(34, 35, 38);
    border-radius: 100%;
    width: 55px;
    height: 55px;
    margin: 0 5px;
}

.company li,
.community li,
.links li{
    margin-bottom: 20px;
}

.company,
.community,
.links{
    margin-right: 20px;
}

.sns .fa-brands{
    font-size: 27px;
}

.snsbtn{
    margin-left: 170px;
}

.company a:hover,
.community a:hover,
.links a:hover,
.snsbtn a:hover{
    color: rgb(11, 161, 80);
}

.footer-bottom{
    display: flex;
    justify-content: space-around;
}

.footer-bottom a{
    font-size: 12px;
    color: gray;
}

.footer-bottom-left a{
    margin-right: 10px;
}
